.container{
    border-radius: 28px;
background: #d9b5d6;
box-shadow:  14px 14px 28px #520c52,
             -14px -14px 28px #ae91ab;
             margin: 1em auto;
             width:270px;
}
.header-title{
    color: var(--white-color);
    text-shadow: 2px 2px 3px rgb(1, 36, 112);
    font-size: 18pt;
}
.header-name{
    animation: slidein 1s ease-in 3s reverse both running
}
.header-description{
animation: slideinsecond 1s ease-in 3s reverse both running
        }
@keyframes slidein{
0%{transform:translateX(0px);}
100%{transform:translateX(360px)}
}
@keyframes slideinsecond{
    0%{transform:translateX(0px);}
    100%{transform:translateX(-360px)}
    }

    @media screen and (min-width:400px){
        .container{
            margin: 1em auto;
                 width:85%;
        }  
        @keyframes slidein{
            0%{transform:translateX(0px);}
            100%{transform:translateX(460px)}
            }
            @keyframes slideinsecond{
                0%{transform:translateX(0px);}
                100%{transform:translateX(-460px)}
                }
    }

@media screen and (min-width:700px){
    .header-title{
        font-size: 30pt;
    }
    .container{
        margin: 1em auto;
             width:100%;
    }
    @keyframes slidein{
        0%{transform:translateX(0);}
        100%{transform:translateX(700px)}
        }
        @keyframes slideinsecond{
            0%{transform:translateX(0px);}
            100%{transform:translateX(-800px)}
            }
}
