.nav{
    background-color: var(--ligthpurple-color);
    color: var(--darkpurple-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.7em 0;
}
.nav-link, a{
    color: aliceblue;
    text-decoration: none;
    padding: 0 3em;
}
.nav-link:hover, a:hover{
    color: var(--darkpurple-color);
}
.icon{
    padding: 0 0.5em;
}
.navbar{
    background-color: var(--lightpurple--color);
}
a{
    margin: 0;
    padding: 0;
    
}