
.card-body{
   background-color:var(--mediumpurple-color) ;
   border-radius: 7px;
   text-align: center;
   color: var(--darkpurple-color);
   font-size: 12pt;
   border-radius:7px;
   box-shadow: 3px 3px 2px 2px var(--blue-color);
   align-items:center;
   display:flex;
   flex-direction:column;
   margin: 1.5em;
}
.image-card-body{
   margin:2em;
   width: 200px;
}
@media screen and (min-width:700px){
   .card-body{
      flex-direction:row;
      font-size: 16pt;
      margin: 3em 5em;
   }
   .image-card-body{
      
      width: 300px;
   }
}