
.card-body{
   background-color:var(--mediumpurple-color) ;
   border-radius: 7px;
   text-align: center;
   color: var(--darkpurple-color);
   font-size: 16pt;
   border-radius:7px;
   box-shadow: 3px 3px 2px 2px var(--blue-color);
   align-items:center;
   display:flex;
   flex-direction:column;
}
.image-card-body{
   margin:2em
}
@media screen and (min-width:700px){
   .card-body{
      flex-direction:row
   }
}